<div class="contenu">
        <h2 class ="paragraph"><span style="--d: 0s">Différentes parties de l'expérience mécanique:</span></h2>
        <br>
        <p class="paragraph">
                <span style="--d: 0.1s"><a class="btn btn-primary" role="button" routerLink="/energie_meca/protocole">Protocole</a>
                </span>
                <span style="--d: 0.2s"><a class="btn btn-primary" role="button"
                                routerLink="/energie_meca/manipulation">Manipulation</a>
                </span>
                <span style="--d: 0.3s"><a class="btn btn-primary" role="button"
                                routerLink="/energie_meca/interpretation">Interprétation</a>
                </span>
                <span style="--d: 0.4s"><a class="btn btn-primary" role="button"
                                routerLink="/energie_meca/conclusion">Conclusion</a> </span>
        </p>
</div>