<div class="contenu">
        <p class="paragraph">
                <span style="--d: 0s"><a class="btn btn-primary" role="button" routerLink="/energie_meca">Protocole</a>
                </span>
                <span style="--d: 0s"><a class="btn btn-primary" role="button"
                                routerLink="/energie_meca/manipulation">Manipulation</a>
                </span>
                <span style="--d: 0s"><a class="btn btn-primary" role="button"
                                routerLink="/energie_meca/interpretation">Interprétation</a>
                </span>
                <span style="--d: 0s"><a class="btn btn-primary" role="button"
                                routerLink="/energie_meca/conclusion">Conclusion</a> </span>
        </p>
</div>