<section class="">
    <footer class="text-center text-white" style="background-color: rgb(1,0,36);">
      <div class="container p-4 pb-0">
        <section class="">
            <p class="d-flex justify-content-center align-items-center">
                <button type="button" class="btn btn-outline-light btn-rounded">
                    Site par:
                </button>
                <span class="">ㅤLeroy Maxime & Mandier Nathan avec&#x2764;</span>
            </p>
            <p class="d-flex justify-content-center align-items-center">
                <button type="button" class="btn btn-outline-light btn-rounded">
                    Projet par:
                </button>
                <span class="me-3">ㅤGrôle Nathan, Kéo Climane, Gellet Noé, Leroy Maxime, Mandier Nathan</span>
            </p>

        </section>
      </div>
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 - Projet d'Enseignement Scientifique
      </div>
    </footer>
  </section>