<section class="">
  <footer class="text-center text-white" style="background-color: rgb(1,0,36);">
    <div class="container p-4 pb-0">
      <section class="">
        <p class="d-flex justify-content-center align-items-center">
          <a type="button" class="btn btn-outline-light btn-rounded" href="https://github.com/Es-school-project/website"
            target="_blank">
            Site par:
          </a>
          <span class="">ㅤM... & N... avec&#x2764;</span>
        </p>
        <p class="d-flex justify-content-center align-items-center">
          <button type="button" class="btn btn-outline-light btn-rounded">
            Projet par:
          </button>
          <span class="me-3">ㅤN..., C..., N..., M..., N...</span>
        </p>

      </section>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      <p>© - Projet d'Enseignement Scientifique </p>
    </div>

  </footer>
</section>
