<app-navbar></app-navbar>
<div class="contenu">
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1>SOURCES:</h1>
    <br>
    <h2 class="dropdown-title" (click)="toggleLinksMecanique()">
        <span class="dropdown-arrow" [class.arrow-up]="isArrowUpMecanique"></span>
        Pour l'énergie mécanique
    </h2>
    <div *ngIf="showLinksMecanique" class="link-container">
        <a *ngFor="let link of linksMecanique; let i = index" href="{{ link.url }}" target="_blank" class="{{link.class}}">
            <span class="{{link.icon}}"></span>
            {{ link.title }}
            <div class="bar" *ngIf="i !== linksMecanique.length - 1"></div>
        </a>
    </div>
    <br>
    <h2 class="dropdown-title" (click)="toggleLinksThermique()">
        <span class="dropdown-arrow" [class.arrow-up]="isArrowUpThermique"></span>
        Pour l'énergie thermique
    </h2>
    <div *ngIf="showLinksThermique" class="link-container">
        <a *ngFor="let link of linksThermique; let i = index" href="{{ link.url }}" target="_blank" class="{{link.class}}">
            <span class="{{link.icon}}"></span>
            {{ link.title }}
            <div class="bar" *ngIf="i !== linksThermique.length - 1"></div>
        </a>
    </div>
    <br>
    <h2 class="dropdown-title" (click)="toggleLinksElectrique()">
        <span class="dropdown-arrow" [class.arrow-up]="isArrowUpElectrique"></span>
        Pour l'énergie électrique
    </h2>
    <div *ngIf="showLinksElectrique" class="link-container">
        <a *ngFor="let link of linksElectrique; let i = index" href="{{ link.url }}" target="_blank" class="{{link.class}}">
            <span class="{{link.icon}}"></span>
            {{ link.title }}
            <div class="bar" *ngIf="i !== linksElectrique.length - 1"></div>
        </a>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>