<div class="text-center text-white">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid text-white">
      <div class="collapse navbar-collapse justify-content-start" id="navbarNav">
        <ul class="navbar-nav">

          <li class="nav-item">
            <div ngbDropdown class="d-inline-block mr-2">
              <button class="nav-link btn btn-outline-yellow text-white dropdown-toggle" id="dropdownButton"
                ngbDropdownToggle>MANIPULATIONS</button>
              <div ngbDropdownMenu class="" aria-labelledby="dropdownButton">
                <a ngbDropdownItem href="#">1. Energie mécanique</a>
                <a ngbDropdownItem href="#">2. Energie thermique</a>
                <a ngbDropdownItem href="#">3. Energie électrique</a>
              </div>
            </div>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link btn btn-outline-yellow text-white" href="#">CONCLUSION</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link btn btn-outline-yellow text-white" href="#">BIBLIOGRAPHIE</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
