<div class="content">
    <div class="button-container">
        <a class="btn btn-primary" id="left-button" role="button" routerLink="/energie_therm/interpretation">&larr;
            Précédent</a>
        <a class="btn btn-primary" id="right-button" role="button" routerLink="/energie_electrique">Suivant
            &rarr;</a>
    </div>
    <br>
    <h2 class="paragraph"><span style="--d: 0s">Conclusion énergie thermique:</span></h2>
    <p class="paragraph">
        <span style="--d: 0s"><strong>En conclusion</strong>, nous avons pu observer une augmentation de la température
            de l’eau de 2,29°C. Mais en réalité, si nous enlevons à cela l’énergie et donc la chaleur générée par le
            barreau magnétique, on se retrouve avec une augmentation de 0,89°C sous l’influence des ultrasons. Il y a
            bien eu une augmentation aussi infime soit-elle. Ainsi, on peut en conclure que les ondes sonores peuvent
            produire de l’énergie thermique, à travers le phénomène de la cavitation acoustique, comme le fait remarquer
            la <strong>présence de bulles</strong> sur la sonde de température.
            <br>On pourrait sûrement avoir un meilleur résultat en augmentant le nombre d'émetteurs à ultrasons ou en
            envoyant des fréquences plus élevées. De nos jours, il ne serait pas très concluant d’utiliser cette
            technique pour faire chauffer de l’eau en gros volume comme par exemple dans les centrales électrique en
            raison de manque de ressources et de technologies adéquates (il faudrait à la fois des appareils capable
            d’émettre de très hautes fréquences, en continue et capable de couvrir une large zone). Il ne serait pas
            conseillé non plus pour des personnes lambda d’utiliser les ultrasons pour chauffer des choses au quotidien
            car une exposition prolongée et/ou élevée à celle-ci peuvent être nocives pour la santé. Il est possible
            qu’à l’avenir, nous aurons des protections pour nous prévenir des effets des ultrasons, mais à l’heure
            actuelle, ce genre de pratique ne doit être pratiquée que par des professionnels.
        </span>
    </p>
</div>