<div class="content">
    <!--Titre principale :-->
    <div class="title_protocole">
        <h2 class="title">Manipulation thermique:</h2>
        <h4 class="title">Utilisation du principe de cavitation acoustique...</h4>
        <div class="carousel">
            <div id="carouselExampleCaptions" class="carousel slide">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
                        aria-label="Slide 4"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4"
                        aria-label="Slide 5"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5"
                        aria-label="Slide 6"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="../../../assets/picture/2_energie_thermique/s5.jpg"
                            class="d-block w-100 img-fluid h-150"
                            alt="setup expérience constitué d'un générateur à sons et d'un haut parleur">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Notre installation</h5>
                            <p>Vue de gauche</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="../../../assets/picture/2_energie_thermique/s3.jpg"
                            class="d-block w-100 img-fluid h-125" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Notre installation</h5>
                            <p>Vue de haut</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="../../../assets/picture/2_energie_thermique/s12.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Notre installation</h5>
                            <p>Vue de la bassine</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="../../../assets/picture/2_energie_thermique/s10.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Equipements</h5>
                            <p>Arduino + 1 générateur à US</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="../../../assets/picture/2_energie_thermique/s11.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Equipements</h5>
                            <p>Les autres générateurs à US</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="../../../assets/picture/2_energie_thermique/s13.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Réussite</h5>
                            <p>Présence de bulles</p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Précédent</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Suivant</span>
                </button>
            </div>
        </div>
    </div>
</div>