<div class="contenu">
    <h2 class="paragraph"><span style="--d: 0s">Comment à partir des ondes sonores peut-on produire de l’énergie ?</span></h2>
    <p class="paragraph">
        <span style="--d: 0s"><strong>En conclusion</strong>, on peut dire que nous avons réussi à démontrer qu’il est possible de
            produire trois types
            d’énergies à partir d’ondes sonores : mécanique, thermique et électrique, en utilisant différents procédés.
            En
            effet, pour produire de l’énergie mécanique, nous avons cherché à faire varier la fréquence du son pour
            briser
            du verre. De plus, pour l’énergie thermique, nous avons utilisé le principe de la cavitation acoustique pour
            faire chauffer de l’eau. Enfin, pour l’énergie électrique, nous avons utilisé des matériaux
            piézoélectriques,
            qui nous ont permis de produire de faibles quantités d'électricité à partir de différentes vibrations.
            <br>Ainsi,
            nous avons démontré que le son est une source d'énergie. Cependant, les quantités d’énergie que nous avons
            pu
            produire sont très faibles, et l’une des expériences n’a malheureusement pas fonctionné.<br>Si, un jour, la
            technologie nous le permettait, on pourrait utiliser le son comme ressource pour produire de l’énergie. En
            effet, avec la cavitation acoustique, on pourrait produire de l’énergie thermique, lorsqu’elle est
            nécessaire,
            et de l’électricité grâce à des récepteurs piézoélectriques, tout ça sans avoir recours aux énergies
            fossiles.
            <br>Alors, peut-être que le son sera une ressource intéressante dans l’avenir…</span>
    </p>
</div>