<div class="content">
    <!--Titre principale :-->
    <div class="title_conclusion">
        <h1 class="title">Conclusion énergie mécanique:</h1>
        <p class="texte_title">Malgré nos deux tentatives, nous n’avons pas atteint l’objectif, c’est-à-dire que nous
            n’avons pas réussi à
            entrer en résonance avec les différents verres utilisés, cela s’explique notamment par notre méthode pour
            déterminer la fréquence de résonance.
        </p>
    </div>
    <div class="video_ccl">
        <p class="video_texte">Ces 2 vidéos vous montrent le résultat que nous aurions dû obtenir :</p>
        <div class="video">

            <iframe width="560" height="315" src="https://www.youtube.com/embed/DP4wQmOGy5w"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>


            <iframe width="560" height="315" src="https://www.youtube.com/embed/pyBGSMxPSG0"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
        </div>

    </div>
</div>