<div class="content">
    <!--Titre principale :-->
    <div class="title_conclusion">
        <h1 class="title">Conclusion énergie mécanique:</h1>
        <p class="texte_title">En conclusion, l’expérience a montré que pour produire de l'énergie à partir des ondes
            sonores, il est important de choisir une fréquence proche de la fréquence de résonance du verre et
            d'utiliser une amplitude suffisamment élevée pour produire des vibrations au sein du verre. Le son étant un
            déplacement de molécules, il est possible d'agir physiquement sur des entités avec les bons outils, et ainsi
            de produire de l'énergie mécanique. Une énergie qui peut être utilisée pour briser du verre ou d’autres
            éléments…
        </p>
    </div>
    <div class="video_ccl">
        <p class="video_texte">Ces 2 vidéos vous montrent le résultat que nous aurions dû obtenir :</p>
        <div class="video">

            <iframe width="560" height="315" src="https://www.youtube.com/embed/DP4wQmOGy5w"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>


            <iframe width="560" height="315" src="https://www.youtube.com/embed/pyBGSMxPSG0"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
        </div>

    </div>
</div>