<div class="contenu">
    <p class="paragraph">
        <span style="--d: 0s"><a class="btn btn-primary" role="button" routerLink="/energie_therm">Protocole</a> </span>
        <span style="--d: 0s"><a class="btn btn-primary" role="button"
                routerLink="/energie_therm/manipulation">Manipulation</a>
        </span>
        <span style="--d: 0s"><a class="btn btn-primary" role="button"
                routerLink="/energie_therm/interpretation">Interprétation</a>
        </span>
        <span style="--d: 0s"><a class="btn btn-primary" role="button"
                routerLink="/energie_therm/conclusion">Conclusion</a> </span>
    </p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>