<div class="contenu">
    <div class="button-container">
        <a class="btn btn-primary" id="left-button" role="button" routerLink="/energie_elec/interpretation">&larr;
            Précédent</a>
        <a class="btn btn-primary" id="right-button" role="button" routerLink="/home">Suivant
            &rarr;</a>
    </div>
    <br>
    <h2 class="paragraph"><span style="--d: 0s">Conclusion énergie éléctrique:</span></h2>
    <p class="paragraph">
        <span style="--d: 0.2s"><strong>En conclusion</strong>, suite à nos observations lors de cette expérience,
            nous pouvons dire que le son peut être une source pour produire de l’énergie électrique, pour de faibles
            tensions, de l’ordre de la centaine de microvolts. En effet, un récepteur, sous l’influence des
            vibrations des ondes sonores, peut produire de l’électricité. On remarque que la production électrique
            est très faible, en effet les systèmes piézoélectriques sont encore peu développés, néanmoins, ce
            système a un potentiel important en guise de capteur pour permettre des analyses des vibrations. Il
            s’agit d’un capteur bas coûts (15 euros les 5 donc environ 3 euros unités) plutôt fiable. Par exemple,
            Maxime et un de ses amis ont cherché à quantifier les vibrations dans un arc, en utilisant un capteur
            piézo. Pour suivre l’impact des stabilisateurs et des amortisseurs de vibration ils ont utilisé
            différents setup pour avoir plus de données. Enfin, ces capteurs ont également servi à produire de
            l’électricité à partir des vibrations d’un téléphone et d’une machine à laver.
        </span>
    </p>
    <p class="paragraph">
        <span style="--d: 0.4s">Ces différentes images nous montrent les différents setups utilisés. Pour l’arc, il
            s’agit d’un premier setup expérimental, des améliorations sont à l’étude.
        </span>
    </p>
    <div class="video_ccl">
        <div class="image">
            <div class="block">
                <div class="mid_block"><img class="img_ccl"
                        src="../../../assets/picture/3_energie_electrique/arc1.jpeg"></div>
                <div class="mid_block"><img class="img_ccl"
                        src="../../../assets/picture/3_energie_electrique/arc2.jpeg"></div>
            </div>
            <div class="block">
                <div class="mid_block">
                    <img class="img_ccl" src="../../../assets/picture/3_energie_electrique/s1.jpg">
                </div>
                <div class="mid_block">
                    <img class="img_ccl" src="../../../assets/picture/3_energie_electrique/s2.jpg">
                </div>
            </div>
        </div>
    </div>
</div>