<div class="content">
    <!--Titre principale :-->
    <div class="title_conclusion">
        <h1 class="title">Conclusion pour l’énergie électrique :</h1>
        <p class="texte_title">Grâce à nos trois expériences, nous avons pu démontrer que la conversion de son en
            électricité était possible. Nous avons utilisé des appareils qui généraient une quantité de vibrations
            quantifiable par un capteur piézoélectrique. Le son est donc une source d’énergie potentielle très grande
            notamment en ville où la moyenne est de 50 dB en période calme (70 dB en région parisienne).
        </p>
    </div>
    <div class="video_ccl">
        <p class="video_texte">Ces différentes images nous montrent les différents setups utilisés. Pour l’arc, il
            s’agit d’un premier setup expérimental, des améliorations sont à l’étude.</p>
        <div class="image">
            <div class="block">
                <div class="mid_block"><img class="img_ccl"
                        src="../../../assets/picture/3_energie_electrique/arc1.jpeg"></div>
                <div class="mid_block"><img class="img_ccl"
                        src="../../../assets/picture/3_energie_electrique/arc2.jpeg"></div>
            </div>
            <div class="block">
                <div class="mid_block">
                    <img class="img_ccl" src="../../../assets/picture/3_energie_electrique/s1.jpg">
                </div>
                <div class="mid_block">
                    <img class="img_ccl" src="../../../assets/picture/3_energie_electrique/s2.jpg">
                </div>
            </div>
        </div>

    </div>
</div>