<div class="content">
    <!--Titre principale :-->
    <div class="title_conclusion">
        <h1 class="title">Conclusion pour l’énergie électrique :</h1>
        <p class="texte_title">Grâce à nos trois expériences, nous avons pu démontrer que la conversion de son en
            électricité était possible. Nous avons utilisé des appareils qui généraient une quantité de vibrations
            quantifiable par un capteur piézoélectrique. Le son est donc une source d’énergie potentielle très grande
            notamment en ville où la moyenne est de 50 dB en période calme (70 dB en région parisienne).
        </p>
    </div>
    <div class="video_ccl">
        <p class="video_texte">Ces différentes images nous montrent les différents setups utilisés. Pour l’arc, il
            s’agit d’un premier setup expérimental, des améliorations sont à l’étude.</p>
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../../../assets/picture/3_energie_electrique/arc1.jpeg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../../../assets/picture/3_energie_electrique/arc2.jpeg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../../../assets/picture/3_energie_electrique/s1.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../../../assets/picture/3_energie_electrique/s2.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

    </div>
</div>