<div class="container-fluid text-white">
  <div class="row justify-content-center">
    <div class="col-12 text-center">
      <h1 class="display-3">Dashboard</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h2 class="mt-3">Versions</h2>
      <p class="lead"><strong>Node.js:</strong> {{nodeVersion}}</p>
      <p class="lead"><strong>Npm:</strong> {{npmVersion}}</p>
      <p class="lead"><strong>Angular:</strong> {{angularVersion}}</p>
    </div>
    <div class="col-md-6">
      <h2 class="mt-3">Stockage</h2>
      <p class="lead"><strong>Le stockage utilisé est:</strong> {{diskName}}</p>
      <p class="lead"><strong>Capacité totale:</strong> {{diskCapacity}} GB</p>
      <p class="lead"><strong>Espace disponible:</strong> {{freeSpace}} GB</p>
      <p class="lead"><strong>Utilisation par le site:</strong> {{websiteFolderSizeInMegabytes.toFixed(2)}} MB ({{websiteFolderSizeInGigabytes.toFixed(2)}} GB) soit {{diskDiff.toFixed(2)}}%</p>
      <ul>
        <li *ngFor="let directory of directories" class="lead"><strong>{{directory.name}}:</strong> {{(directory.size / (1024 * 1024)).toFixed(2)}} MB</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h2 class="mt-3">Machine</h2>
      <p class="lead"><strong>Nom:</strong> {{hostname}}</p>
      <p class="lead"><strong>Type:</strong> {{type}}</p>
      <p class="lead"><strong>Plateforme:</strong> {{platform}}</p>
      <p class="lead"><strong>Modèle:</strong> {{model}}</p>
      <p class="lead"><strong>Architecture:</strong> {{arch}}</p>
      <p class="lead"><strong>Mise à jour:</strong> {{release}}</p>
    </div>
    <div class="col-md-6">
      <h2 class="mt-3">Mémoire</h2>
      <p class="lead"><strong>Total:</strong> {{totalMemory}} GB</p>
      <p class="lead"><strong>Disponible:</strong> {{freeMemory}} GB</p>
    </div>
  </div>
  <br>
  <br>
</div>
