<div class="content">
    <!--Titre principale :-->
    <div class="title_conclusion">
        <h1 class="title">Interprétation énergie mécanique:</h1>
        <p class="texte_title">Notre expérience avait pour but de briser un verre à l'aide du son, en reproduisant la
            fréquence de résonance du verre afin de démontrer qu’il est possible d’agir sur un élément macroscopique de
            façon mécanique. Cependant, l'objectif n'a pas été atteint, probablement à cause d'un matériel obsolète,
            d'une amplitude trop faible ou d'une concentration trop faible du son sur le verre.
            Pour pallier cette absence de données, due à l’échec de notre expérience, nous avons utilisé une vidéo
            imilaire à ce que nous faisons. Dans cette dernière, nous
            pouvons voir que plus la fréquence émise par le haut-parleur est proche de la fréquence de résonance du
            verre, avec une amplitude suffisante pour que celui-ci vibre. On peut constater une déformation du verre,
            due aux vibrations, lors de l’émission du son à une fréquence de 442Hz, qui est la fréquence de résonance du
            verre obtenue dans la vidéo, jusqu’à la rupture du verre. <br>

            Nous allons calculer à l’aide des données de la vidéo, l’énergie mécanique appliquée pour briser le verre:
        </p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/QhwuYDfATLc" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </div>
    <div class="interprétation">
        <p class="formule_interprétation">
            <span class="interprétation-1">Légende:</span>
        <ul>
            <li>P = Puissance sonore (en W)</li>
            <li>Po = Puissance de référence en acoustique 1 picowatt (10^-12 W)</li>
            <li>E = l'énergie mécanique (en Joules)</li>
            <li>t = la durée d'application de la puissance (en s)</li>
        </ul>
        <span class="interprétation-1">Conversion en puissance:</span>
        <ul>
            <li>P = 10^(L/10) x PO</li>
            <li>AN: P = 10^(120/10) * 10^-12 = 1W</li>

            <li>Calcul de l’énergie mécanique:</li>
            <li>E = P x t</li>
            <li>AN: E = 1 * 3 = 3J</li>
        </ul>
    </div>

</div>