<div class="content">
    <div class="button-container">
        <a class="btn btn-primary" id="left-button" role="button" routerLink="/energie_meca/manipulation">&larr;
            Précédent</a>
        <a class="btn btn-primary" id="right-button" role="button" routerLink="/energie_meca/conclusion">Suivant
            &rarr;</a>
    </div>
    <br>
    <h2 class="paragraph"><span style="--d: 0s">Interprétation énergie mécanique:</span></h2>
    <p class="paragraph">
        <span style="--d: 0s">Notre expérience avait pour but de briser un verre à l'aide du son, en reproduisant la
            fréquence de résonance du verre afin de démontrer qu’il est possible d’agir sur un élément macroscopique de
            façon mécanique. Cependant, l'objectif n'a pas été atteint, probablement à cause d'un matériel obsolète,
            d'une amplitude trop faible ou d'une concentration trop faible du son sur le verre.
            Pour pallier cette absence de données, due à l’échec de notre expérience, nous avons utilisé une
            vidéo similaire à ce que nous faisons.
            <br>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/QhwuYDfATLc"
                title="Casser un verre avec du son ? - Fréquence de résonance [Science 2.0]" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
            <br>
            <br>
            Dans cette dernière, nous
            pouvons voir que plus la fréquence émise par le haut-parleur est proche de la fréquence de résonance du
            verre, avec une amplitude suffisante pour que celui-ci vibre. On peut constater une déformation du verre,
            due aux vibrations, lors de l’émission du son à une fréquence de 442Hz, qui est la fréquence de résonance du
            verre obtenue dans la vidéo, jusqu’à la rupture du verre.
            <br>
            <br>
            Nous allons calculer à l’aide des données de la vidéo, l’énergie mécanique appliquée pour briser le verre:
            <br>
            <br>
            <strong>Légende:</strong>
            <br>- P = Puissance sonore (en W)
            <br>- Po = Puissance de référence en acoustique: 1 picowatt
            <br>- E = l'énergie mécanique (en Joules)
            <br>- t = la durée d'application de la puissance (en s)
            <br>- L = ampltitude de l'onde sonore (décibels)
            <br>
            <br>
            <strong>Données:</strong>
            <span [innerHTML]="data"></span>
            <span [innerHTML]="data2"></span>
            <span [innerHTML]="data3"></span>
            <br><strong>Conversion en puissance:</strong>
            <span [innerHTML]="renderedFormula"></span>
            <span [innerHTML]="renderedFormula2"></span>
            <br><strong>Calcul de l’énergie mécanique:</strong>
            <span [innerHTML]="renderedFormula3"></span>
            <span [innerHTML]="renderedFormula4"></span>
            <br>
            <br>
            Ainsi, lorsqu'un son est émis à la fréquence de résonance d'un verre donné, il peut produire une énergie
            mécanique suffisante pour briser le verre. Dans ce cas, une énergie d'au moins 3 joules est nécessaire, en
            supposant que le verre soit de bonne qualité, sans fissures ni imperfections, que la force soit appliquée de
            manière appropriée et sans autres facteurs.</span>
    </p>
</div>