<div class="content">
    <!--Titre principale :-->
    <div class="title_conclusion">
        <h1 class="title">Interprétation énergie mécanique:</h1>
        <p class="texte_title">Malgré nos deux tentatives, nous n’avons pas atteint l’objectif, c’est-à-dire que nous
            n’avons pas réussi à
            entrer en résonance avec les différents verres utilisés, cela s’explique notamment par notre méthode pour
            déterminer la fréquence de résonance. Nous ne sommes pas entrés en fréquence à cause du matériel. Nous
            aurions dut réglé de manière plus précise la fréquence et l'intensité. Les verres employé peuvent aussi être
            une raison de l'échec des deux tests. En effet, ils ne s'agissaient pas de verre composé de crytstaux.
        </p>
    </div>
</div>