<div class="content">
    <div class="button-container">
        <a class="btn btn-primary" id="left-button" role="button" routerLink="/energie_mecanique">&larr;
            Précédent</a>
        <a class="btn btn-primary" id="right-button" role="button" routerLink="/energie_meca/manipulation">Suivant
            &rarr;</a>
    </div>
    <br>
    <div class="title_protocole">
        <h2 class="title">Protocole mécanique :</h2>
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Définition des termes :
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>Énergie mécanique :</strong> L’énergie mécanique d’un système physique est la somme de
                        son énergie
                        cinétique et de son énergie potentielle. L’énergie cinétique dépend de la vitesse du système, et
                        l’énergie potentielle dépend de sa capacité à acquérir de la vitesse. Dans le cas particulier
                        d’un système soumis exclusivement à un champ de pesanteur, son énergie potentielle dépend de son
                        altitude par rapport à un niveau arbitraire de référence. Dans le cas d’un système isolé, sans
                        interaction avec le milieu extérieur (sous forme de frottements, par exemple), l’énergie
                        mécanique est constante. Em=Ec+Epp. On l’exprime en J.
                        <br>
                        <br>
                        <strong>Intensité des ondes sonores :</strong> Cette grandeur permet de donner une indication
                        sur
                        la « force » d’un
                        son : plus l’intensité sonore est élevée et plus le son perçu est fort par l’oreille humaine.
                        Elle s’exprime en W/m².
                        <br>
                        <br>
                        <strong>Puissance des ondes sonores :</strong> La puissance acoustique correspond à l’énergie
                        sonore totale émise
                        par une source acoustique par unité de temps. On la note Lw et on l’exprime en Décibel (dB).
                        <br>
                        <br>
                        <strong>Ultrasons :</strong> Les ultrasons sont des sons inaudibles pour l’Homme, ils se situent
                        entre 16 kHz et
                        10 MHz. Les ultrasons de puissance, de fréquence comprise entre 16 kHz et 1 MHz. Ils peuvent
                        entraîner des modifications physiques et chimiques (décapage, dégazage, émulsification,
                        modification de mécanisme réactionnel, production de radicaux libres).<ul>
                            <li>Les ultrasons de puissance sont également divisés en 2 parties :</li>
                            <li>les ultrasons de basses fréquences (16 à 100 kHz)</li>
                            <li>les ultrasons de hautes et de très hautes fréquences (supérieure à 100 kHz pour les
                                hautes
                                fréquences et à 1 MHz pour les très hautes fréquences).</li>
                        </ul>
                        <br>
                        <strong>Fréquence :</strong> La fréquence d’un son correspond au nombre de vibrations émises en
                        une seconde. Elle
                        se mesure en Hertz (Hz).
                        <br><br>
                        <strong>Fréquence de résonnance :</strong> Le phénomène de résonance est un phénomène qui agit
                        sur des systèmes
                        physique (électriques ou mécaniques) sensibles à des fréquences précises de sons. Un système
                        entre en résonance lorsqu’il accumule de l’énergie face à l’exposition de cet énergie. Un
                        système soumit à la force d’une fréquence de résonnance accumulera de l’énergie jusqu’à
                        atteindre une rupture du système par repoussement des molécules. Cette fréquence doit être
                        appliqués de manière périodique au système.


                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Matériel:
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Il est possible de créer de l'énergie mécanique à l'aide d’ultrasons en utilisant la fréquence
                        de résonance. <br>
                        <strong>Matériel : </strong><br>
                        <ul>
                            <li>Verre en cristal</li>
                            <li>Microphone de qualité professionnelle ou un sonomètre</li>
                            <li>Support pour maintenir le verre en cristal stable</li>
                            <li>Ordinateur avec un logiciel d'enregistrement sonore (ex: Audacity)</li>
                            <li>Calculatrice</li>
                            <li>Haut-parleur</li>
                            <li>Générateur signaux sonores/ultrasons</li>
                            <li>Caisse de résonance</li>
                            <li>Caméra</li>
                            <li>Support pour la caméra</li>
                        </ul> <strong>Equipement de protection individuelle (EPI)</strong>
                        <ul>
                            <li>Protections auditives</li>
                            <li>Lunette de protection</li>
                            <li>Blouses</li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Protocole préparatoire :
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Pour briser un verre, il faut chercher la fréquence de résonance du verre
                        pour ensuite tenter de le briser en la reproduisant de manière périodique.<br>
                        <ol>
                            <li>Lancer le logiciel d’enregistrement sonore : Audacity</li>
                            <li>Installer le verre sur le support, de façon stable</li>
                            <li>Placer correctement le microphone de façon à capter le son produit par le verre
                                chantant.</li>
                            <li>Lancer l’enregistrement sonore et enregistrer le son produit par le verre pendant 10
                                secondes</li>
                            <li>Arrêter l’enregistrement sonore et sauvegarder les résultats</li>
                            <li>Ouvrir le fichier enregistré dans Audacity et sélectionner la partie du son produite par
                                le verre en cristal en supprimant les parties parasites.</li>
                            <li>Récupérer, à l’aide d’audacity, le pic observé à l’aide de l’outil analyse de fréquence
                            </li>
                            <li>Réaliser plusieurs enregistrements pour s’assurer que les résultats sont cohérents et
                                fiables.</li>
                            <li> Passer à la suite</li>
                        </ol>

                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Protocle primaire :
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <ol>
                            <li>Relier le générateur de signaux sonores aux haut-parleurs</li>
                            <li>Placer le verre à casser sur un support stable à une distance 10 cm du générateur de
                                signaux sonores/ultrasons</li>
                            <li>Mettre l'ensemble dans la caisse de résonance pour amplifier l'effet des ondes sonores
                            </li>
                            <li>Préparer la caméra en la plaçant à une distance suffisante pour filmer l'objet à casser
                                et en hauteur à l’aide du support.</li>
                            <li>Mettre les EPI</li>
                            <li>Régler le générateur de signaux sonores à la fréquence trouvée dans la partie 1</li>
                            <li>Faire varier la puissance jusqu’à ce que le verre casse</li>
                            <li>Noter la fréquence à laquelle l'objet commence à se déformer ainsi que celle à laquelle
                                il se casse ainsi que le temps</li>
                            <li>Arrêter le générateur de signaux sonores et enlever les EPI</li>
                            <li>Éteindre la caméra</li>
                            <li>Nettoyer la zone de travail et ranger le matériel.</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>