.content {
    background: radial-gradient(circle, rgb(1, 26, 93), rgb(1, 0, 36));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 10vh;
}

.btn {
    background: #0e0ead;
    border-radius: 999px;
    box-shadow: #0e0ead 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
}

.button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#left-button {
    align-self: flex-start !important;
}

#right-button {
    align-self: flex-end !important;
}

.title_protocole {
    /* display: inline-block; */
    color: white;
}

.title {
    display: flex;
    justify-content: center;
    padding: 5vh;
    padding-top: 0vh;
}