<div class="content">
    <!--Titre principale :-->
    <div class="title_protocole">
        <h1 class="title">Protocole Mécanique:</h1>
        <p>Nous avons mis en place un protocole qui avait pour but de casser du verre en utilisant la technique de
            la résonance
        </p>
        <span style="--d: 0s"><a class="" href="energie_meca">Protocole</a> </span>
        <span style="--d: 0s"><a class="" href="energie_meca/interpretation">interpretation</a> </span>
        <span style="--d: 0s"><a class="" href="/interpretation">interpretation</a> </span>
    </div>
</div>