.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: radial-gradient(circle, rgb(1, 26, 93), rgb(1, 0, 36));
    font-family: 'Roboto', sans-serif;
}

.login-title {
    text-align: center;
    color: #ffffff;
    margin-bottom: 30px;
}

.login-form {
    background-color: #010024;
    padding: 40px;
    border-radius: 5px;
    /* box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); */
    box-shadow: 0 3px 6px #010024, 0 3px 6px #010024;

}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: white;
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid rgb(1, 21, 82);
    background-color: #1A2226;
    color: #ffffff;
}

input:focus {
    outline: none;
    border-color: white;
}

.btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: rgb(1, 21, 82);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: solid 2px white;
}

.btn:hover {
    background-color: #27EF9F;
}

.btn:active {
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4);
}