<div class="content">
    <!--Titre principale :-->
    <div class="title_protocole">
        <h1 class="title">Protocole thermique :</h1>
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Définition des termes :
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>Cavitation acoustique :</strong> Il s’agit de la formation de bulles de gaz, lorsqu’un
                        liquide est soumis à l’impulsion d’une onde acoustique.Il résulte de ce phénomène un choc de
                        pression au voisinage de la bulle de gaz, et la formation d’un micro réacteur thermochimique à
                        l’intérieur de cette dernière. Pour que la cavitation acoustique ait lieu, un seuil de puissance
                        doit être atteint. Ce seuil est de l’ordre de 0.5W/cm² à 20 kHz pour l’eau à pression
                        atmosphérique.
                        <br>
                        <br>
                        <strong>Intensité des ondes sonores :</strong> Cette grandeur permet de donner une indication
                        sur
                        la « force » d’un
                        son : plus l’intensité sonore est élevée et plus le son perçu est fort par l’oreille humaine.
                        Elle s’exprime en W/m².
                        <br>
                        <br>
                        <strong>Puissance des ondes sonores :</strong> La puissance acoustique correspond à l’énergie
                        sonore totale émise
                        par une source acoustique par unité de temps. On la note Lw et on l’exprime en Décibel (dB).
                        <br>
                        <br>
                        <strong>Ultrasons :</strong> Les ultrasons sont des sons inaudibles pour l’Homme, ils se situent
                        entre 16 kHz et
                        10 MHz. Les ultrasons de puissance, de fréquence comprise entre 16 kHz et 1 MHz. Ils peuvent
                        entraîner des modifications physiques et chimiques (décapage, dégazage, émulsification,
                        modification de mécanisme réactionnel, production de radicaux libres).<ul>
                            <li>Les ultrasons de puissance sont également divisés en 2 parties :</li>
                            <li>les ultrasons de basses fréquences (16 à 100 kHz)</li>
                            <li>les ultrasons de hautes et de très hautes fréquences (supérieure à 100 kHz pour les
                                hautes
                                fréquences et à 1 MHz pour les très hautes fréquences).</li>
                        </ul>
                        <br>
                        <strong>Fréquence :</strong> La fréquence d’un son correspond au nombre de vibrations émises en
                        une seconde. Elle
                        se mesure en Hertz (Hz).
                        <br><br>
                        <strong>Energie thermique :</strong> L’énergie thermique se définit comme de la chaleur produite
                        par différents processus (physique, chimique, mécanique et nucléaire).


                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Matériel :
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Il est possible de créer de l'énergie thermique à l'aide de sons en utilisant le principe de la
                        cavitation acoustique <br>
                        <strong>Matériel : </strong><br>
                        <ul>
                            <li>Générateur d'ultrasons (40Hz)</li>
                            <li>Émetteur d’ultrasons</li>
                            <li>Potence</li>
                            <li>Sonde de température</li>
                            <li>Arduino uno</li>
                            <li>circuit pour connecter sonde avec résistance 4,7 Kohm</li>
                            <li>Récipient en plastique</li>
                            <li>Agitateur magnétique + barreau magnétique</li>
                            <li>Téléphone et pieds pour le téléphone</li>
                            <li>Câbles</li>
                        </ul> <strong>Equipement de protection individuelle (EPI)</strong>

                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Manipulation :
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <ol>
                            <li>Remplir une bassine d’eau au ⅕ soit 200ml</li>
                            <li>Poser la bassine sur un agitateur magnétique et mettre le barreau magnétique dans la
                                bassine</li>
                            <li>Configurer la sonde avec un PC + logiciel (arduino ide et putty)</li>
                            <li>Mettre la sonde dans la bassine</li>
                            <li>Laisser la bassine un moment pour que la température de l'eau se stabilise à la
                                température ambiante de la pièce</li>
                            <li>Placer trois émetteurs connectés à des générateurs à ultrasons (40 kHz)</li>
                            <li>Préparer la caméra avec son support pour filmer l'installation</li>
                            <li>Allumer l’agitateur magnétique pour faire tourner le barreau à vitesse moyenne/basse
                            </li>
                            <li>Laisser l’expérience se faire pendant quelques heures pour avoir un résultat optimal
                            </li>
                            <li>Après quelques heures, relever les données récoltées, éteindre l’agitateur magnétique et
                                observer dans la bassine (présence de bulles)</li>
                            <li>Enlever le matériel, vider la bassine et ranger
                            </li>
                        </ol>
                        <strong>Remarques :</strong>
                        <ul>
                            <li>Faire attention aux échanges thermodynamiques et de prendre en compte tous les facteurs
                                dans l’augmentation de la température du récipient</li>
                            <li>Eviter de toucher la sonde de température ou le récipient d’eau</li>

                        </ul>

                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Manipulation :
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <ol>
                            <li>Remplir une bassine d’eau au ⅕ soit 200ml</li>
                            <li>Poser la bassine sur un agitateur magnétique et mettre le barreau magnétique dans la
                                bassine</li>
                            <li>Configurer la sonde avec un PC + logiciel (arduino ide et putty)</li>
                            <li>Mettre la sonde dans la bassine</li>
                            <li>Laisser la bassine un moment pour que la température de l'eau se stabilise à la
                                température ambiante de la pièce</li>
                            <li>Préparer la caméra avec son support pour filmer l'installation</li>
                            <li>Allumer l’agitateur magnétique pour faire tourner le barreau à vitesse moyenne/basse
                            </li>
                            <li>Après quelques heures, relever les données récoltées, éteindre l’agitateur magnétique et
                                observer dans la bassine (présence de bulles)</li>
                            <li>Enlever le matériel, vider la bassine et ranger
                            </li>
                        </ol>
                        <strong>Remarques :</strong>
                        <ul>
                            <li>Faire attention aux échanges thermodynamiques et de prendre en compte tous les facteurs
                                dans l’augmentation de la température du récipient</li>
                            <li>Eviter de toucher la sonde de température ou le récipient d’eau</li>

                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>