<div class="contenu">
    <h2 class="paragraph"><span style="--d: 0s">Interprétation de l'énergie éléctrique:</span></h2>
    <h3 class="paragraph"><span style="--d: 0s">Résultats de l'arc</span></h3>
    <iframe width="1677" height="457" seamless frameborder="0" scrolling="no"
        src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSbunmXfMzLf3pX8nHWLVi1nnIA5OM-ub9DBW3DXQuS3js5QcZ3fdndC9b00mY1bQ/pubchart?oid=1373636415&amp;format=interactive"></iframe>
    <h3 class="paragraph"><span style="--d: 0s"></span></h3>
    <h3 class="paragraph"><span style="--d: 0s">Résultats de la mahcine à laver</span></h3>
    <iframe width="600" height="371" seamless frameborder="0" scrolling="no"
        src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTDOpI457Ll5BWavUQveaEEg7CTooEzx9Gvjq5oZ71ehM40xKs8q97N-XMOgxwg19IwsdbdVUIGn9dp/pubchart?oid=1254984381&amp;format=interactive"></iframe>
    <iframe width="1049" height="430" seamless frameborder="0" scrolling="no"
        src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTJKS-_OOnz2evA3TPo7lTLHG5HFruDMpuQK9Q-WRPpS3NS1TDKdrHPLvOId8TQCiIlMBy9aAzYBIv3/pubchart?oid=1479890039&amp;format=interactive"></iframe>
    <h3 class="paragraph"><span style="--d: 0s">Résultats du télépone vibrant</span></h3>
    <iframe width="600" height="371" seamless frameborder="0" scrolling="no"
        src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQkIiukS40eesiMrNr5RTRoK7e8XpKw_f9knoNeU667BgUjthcyMob3YDKH4lk9yqlLkvHGCB4bpszc/pubchart?oid=2123210797&amp;format=interactive"></iframe>
    <p class="paragraph">
        <span style="--d: 0s">Dans un premier temps, nous avons analysé l’électricité produite par les vibrations et les
            sons émis par le téléphone portable. Sur le graphique, on observe que du début de l’expérimentation, à
            0.46s, en absence de son émis par le téléphone, le récepteur piézoélectrique produit une énergie électrique
            de tension comprise entre 87 et 99 mV. Ceci est dû à l’environnement dans lequel il se trouve, qui est
            pourvu d’ondes sonores permanentes et de vibrations, dûe aux éléments et êtres qui le composent. A 0.47S, le
            téléphone vibre et sonne un première fois. Sur le graphique , on observe une très forte augmentation de la
            tension, qui passe de 90 à 236 mV en 0.01s. Par la suite, de 0.48 à 1.01s, on constate un diminution de la
            tension de l’énergie produite, qui passe de 236 mV à 0.47s à 159 pour 1.01s, c’est le moment où le téléphone
            ne vibre pas.
            <br>Puis, on retrouve de nouveau un fort pic, entre 1.01 et 1.02s, où la tension augmente de 99
            mV, soit pour passer de 159 à 258 mV. Ici encore c’est lors d’une vibration du téléphone que cela se
            produit. Ensuite, la tension redescend et se stabilise aux alentours de 135 mV, avant de refaire un dernier
            pic à 20.42s, qui monte à 227 mV, pour redescendre par la suite à 0.68 mV. Ainsi, lors de cette première
            manipulation, nous avons pu observer que la tension électrique produite par le récepteur piézoélectrique
            augmentait fortement lorsque le téléphone vibrait et produisait des ondes sonores. Ainsi, on pourrait
            déduire que les vibrations des ondes sonores peuvent permettre de produire de l’énergie électrique.
        </span>
        <br>
        <span style="--d: 0.2s">Dans un deuxième temps, nous avons analysé l’électricité produite par les vibrations et
            le bruit émis par une machine à laver. Au début du graphique, nous pouvons observer la présence d’une
            tension de 440 mV environ, elle est due aux vibrations et sons naturels de l’environnement. Au bout de
            28.65s, la tension augmente brutalement pour atteindre 949 mV. Elle restera aux alentours de 1000 mV pendant
            40.16s. Enfin, la tension électrique va osciller entre 0 et 671 mV jusqu’à la fin de l’expérience, et donc
            des vibrations de la machine à laver. On peut en déduire que les vibrations de la machine à laver produisent
            de l’électricité, cependant la tension produite varie en permanence, et sur un grand intervalle.
        </span>
        <br>
        <span style="--d: 0.4s">Dans un dernier temps, nous avons réalisé l’expérience visant à mesurer les vibrations
            dans un arc lors du lancer d’une flèche. Du début de l’enregistrement au lancer de la flèche, on observe que
            la tension est stable à environ 180 mV, puis la flèche est tirée. A partir de ce moment, on observe de
            grandes variations. En effet, il y a une courte descente à 0 mV, suivie d’une forte augmentation à 742 mV,
            et tout cela sur un intervalle de 20 ms. Par la suite, la tension électrique va osciller, avant de se
            stabiliser à environ 500 mV. Ainsi, on voit bien que tirer une flèche émet des vibrations importantes sur un
            arc.
        </span>
    </p>
</div>