<div class="content">
        <h2 class="paragraph"><span style="--d: 0s">Différentes parties de l'expérience électrique:</span></h2>
        <br>
        <p class="paragraph">
                <span style="--d: 0.1s"><a class="btn btn-primary" role="button"
                                routerLink="/energie_elec/protocole">Protocole</a>
                </span>
                <span style="--d: 0.2s"><a class="btn btn-primary" role="button"
                                routerLink="/energie_elec/manipulation">Manipulation</a> </span>
                <span style="--d: 0.3s"><a class="btn btn-primary" role="button"
                                routerLink="/energie_elec/interpretation">Interprétation</a>
                </span>
                <span style="--d: 0.4s"><a class="btn btn-primary" role="button"
                                routerLink="/energie_elec/conclusion">Conclusion</a> </span>
        </p>
</div>