<div class="contenu">
        <p class="paragraph">
                <span style="--d: 0s"><a class="btn btn-primary" role="button" routerLink="/energie_elec">Protocole</a>
                </span>
                <span style="--d: 0s"><a class="btn btn-primary" role="button"
                                routerLink="/energie_elec/manipulation">Manipulation</a> </span>
                <span style="--d: 0s"><a class="btn btn-primary" role="button"
                                routerLink="/energie_elec/interpretation">Interprétation</a>
                </span>
                <span style="--d: 0s"><a class="btn btn-primary" role="button"
                                routerLink="/energie_elec/conclusion">Conclusion</a> </span>
        </p>
</div>