<div class="content">
    <!--Titre principale :-->
    <div class="title_interprétation">
        <h1 class="title">Interprétation énergie électrique :</h1>
    </div>
    <div class="graph">
        <div claas="graph_1">
            <h2></h2>

            <iframe width="738" height="371" seamless frameborder="0" scrolling="no"
                src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTPHxrJhTnk5G0S-uMf_0wmU0clrHbDrxSx7930LmjzMAgzAlJBz9QbGhi68QqX5mnTn-Q1shk5XYuy/pubchart?oid=169067314&amp;format=interactive"></iframe>
        </div>
        <iframe width="572" height="364" seamless frameborder="0" scrolling="no"
            src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTPHxrJhTnk5G0S-uMf_0wmU0clrHbDrxSx7930LmjzMAgzAlJBz9QbGhi68QqX5mnTn-Q1shk5XYuy/pubchart?oid=991059271&amp;format=interactive"></iframe>
    </div>
</div>