.content {
    background: radial-gradient(circle, rgb(1, 26, 93), rgb(1, 0, 36));
    min-height: 100vh;
    padding: 10vh;
}

.title_protocole {
    display: inline-block;
    width: auto;
    color: white;
}

.title {
    display: flex;
    justify-content: center;
    padding: 5vh;
}


.carousel {
    width: auto;
    max-height: 150vh;
    display: flex;
    justify-content: center;
}