<div class="content">
    <div class="title">
        <img src="../../assets/background_home.jpg">
        <div class="paragraph">
            <h1><span style="--d: 0s">Le son et l'énergie</span></h1>
            <h2><span style="--d: 0.25s">Comment à partir des ondes sonores <span></span>peut-on produire de l’énergie
                    ?</span></h2>
        </div>
        <div class="hypo_title">
            <table>
                <tr>
                    <td>La fréquence de résonance peut elle être utilisé pour créer un mouvement qui peut casser différents matériaux?
                    </td>
                    <td>[ Energie Mécanique ]</td>
                </tr>
                <tr>
                    <td>Les matériaux piézoélectriques, peuvent-ils produire de l'électricité?</td>
                    <td>[ Energie Thermique ]</td>
                </tr>
                <tr>
                    <td>La cavitation acoustique peut-elle être un facteur dans l'évolution de la température d'un fluide? 
                    </td>
                    <td>[ Energie Electrique ]</td>
                </tr>
            </table>
        </div>
    </div>
    <br>
</div>