/* Link for CSS style */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

/* CSS code */
.content {
    background: url("../../assets/background_home.jpg") center/100% no-repeat, radial-gradient(circle, rgb(1, 26, 93), rgb(1, 0, 36));
    display: flex;
    justify-content: center;
    align-items: flex-end;
    min-height: 105vh;
    padding: 30vh, 1vh, 0vh, 1vh;
}

.text_home {
    text-align: center;
    color: grey;
    font-size: 1.2rem;
}



.title_1 {
    position: fixed;
    font-size: 2.8rem;
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
    top: 13%;
    right: 1%;
}

.title_2 {
    position: fixed;
    font-size: 1.6rem;
    font-family: 'Roboto Mono', monospace;
    top: 27%;
    right: 1%;
}

.index_home {
    padding-top: 10vh;
    padding-bottom: 2vh;

}

.redirection_home {
    text-align: center;

}

.paragraph span {
    display: block;
    opacity: 0;
    animation: reveal 1s forwards var(--d);
    width: 100%;
}

@keyframes reveal {
    from {
        transform: translateY(50px)
    }

    to {
        opacity: 1;
        transform: none
    }
}