img {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.navbar {
    position: absolute;
    top: 1,9%;
    left: 3%;
}

h1 {
    position: absolute;
    color:darkgrey;
    font-size: 2,7rem;
    top: 26%;
    right: 14%;
}

h2 {
    position: absolute;
    color: grey;
    font-size: 1.5rem;
    top: 69%;
    right: 2%;
    text-align: center;
  }
  