<div class=" content">

    <h1 class="text_home title_1"><span style="--d: 0s">Le son et l'énergie</span></h1>
    <h2 class="text_home title_2"><span style="--d: 0.25s">Comment à partir des ondes sonores <span></span>peut-on
            produire de l’énergie
            ?</span></h2>
    <div class="index_home">
        <div class="redirection_home">
            <h3 class="text_home">La fréquence de résonance peut elle être utilisé pour créer un mouvement qui
                peut
                casser
                différents matériaux?</h3>
            <a class="text_home" href="/energie_mecanique">Energie mécanique</a>
        </div>
        <div class="redirection_home">
            <h3 class="text_home">Les matériaux piézoélectriques, peuvent-ils produire de l'électricité?</h3>
            <a class="text_home" href="/energie_electrique">Energie électrique</a>
        </div>
        <div class="redirection_home">
            <h3 class="text_home">La cavitation acoustique peut-elle être un facteur dans l'évolution de la
                température d'un fluide?
            </h3>
            <a class="text_home" href="/energie_thermique">Energie thermique</a>
        </div>
    </div>
    <br>
</div>